@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<h1>Le Pizze offerte dalla casa</h1>

<table>
    <tr class="ciao">
        <th>Nome</th>
        <th>Foto</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
    </tr>
    <tr>
        <td class="name text-uppercase">Pizza margherita</td>
        <td class="foto"><img class="post-link-image" src="https://picsum.photos/200/300"></td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
        <td class="prezzo">3.50$</td>
    </tr>
    <tr>
        <td class="name">Pizza capricciosa</td>
        <td class="foto"><img class="post-link-image" src="https://picsum.photos/200/300"></td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
        <td class="prezzo">4$</td>
    </tr>
    <tr>
        <td class="name">Pizza 4 stagioni</td>
        <td class="foto"><img class="post-link-image" src="https://picsum.photos/200/300"></td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
        <td class="prezzo">4.50$</td>
    </tr>
    <tr>
        <td class="name">Pizza diavola</td>
        <td class="foto"><img class="post-link-image" src="https://picsum.photos/200/300"></td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
        <td class="prezzo">3.50$</td>
    </tr>
</table>
