@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria</title>
</head>
<body>

    <header>
        <h1>Le Pizze offerte dalla casa</h1>
    </header>
    <main>
        <table>
            <tr class="ciao">
                <th>Nome</th>
                <th>Foto</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
            <tr>
                <td class="name text-uppercase">Pizza margherita</td>
                <td class="foto"><img class="post-link-image" src="https://picsum.photos/200/300"></td>
                <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
                <td class="prezzo">3.50$</td>
            </tr>
            <tr>
                <td class="name">Pizza capricciosa</td>
                <td class="foto"><img class="post-link-image" src="https://picsum.photos/200/300"></td>
                <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
                <td class="prezzo">4$</td>
            </tr>
            <tr>
                <td class="name">Pizza 4 stagioni</td>
                <td class="foto"><img class="post-link-image" src="https://picsum.photos/200/300"></td>
                <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
                <td class="prezzo">4.50$</td>
            </tr>
            <tr>
                <td class="name">Pizza diavola</td>
                <td class="foto"><img class="post-link-image" src="https://picsum.photos/200/300"></td>
                <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
                <td class="prezzo">3.50$</td>
            </tr>
        </table>
    </main>
    <footer>
       <h3>Sono il footer</h3>
    </footer>

</body>
</html>

